<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleSocial</title>
</head>
<body>
    <script src="/home/checkIdHome.js"></script>

    <h1>Welcome to Home</h1>
    <div class="form-section">
        <form action="/post" method="post" id="postForm">
            <textarea name="postContent" id="postContent" cols="30" rows="10" style="resize: none;"></textarea><br>
            <a id="postSubmitButton">Send Post</a>
        </form>
    </div>
    <div class="posts-section">
        <p>posts go here</p>
    </div>



    <script src="/home/home.js"></script>
</body>
</html>